<div class="container text-center">
  <div class="inner-container">
    <h1 class="title">Hoe werkt Hood Rentals?</h1>
    <!-- Navigation buttons -->
    <div
      [ngClass]="{ selectedBtn: selectedButton === 'borrow' }"
      [routerLink]="['/', 'borrow']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn"
    >
      Borrow
    </div>
    <div
      [ngClass]="{ selectedBtn: selectedButton === 'lend' }"
      [routerLink]="['/', 'lend']"
      class="btn"
    >
      Lend
    </div>
    <!-- Nested router outlet for dynamic views -->
    <router-outlet></router-outlet>
  </div>
</div>
