<div class="container text-center">
  <div class="inner-container">
    <h1 class="vaak-gedeeld">Vaak gedeelde spullen</h1>
    <div class="container-dashboard flex">
      <div *ngFor="let category of categories">
        <div class="item flex-item">
          <div class="dashboard-card">
            <img
              class="dashboard-img-item d-flex flex-column"
              src="{{ category.image }}"
              alt=""
            />
            <div class="text-container">
              {{ category.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CARDS -->

    <div class="card">
      <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
