<div class="container text-center">
  <div class="inner-container">
    <h1 class="vaak-gedeeld">Vaak gedeelde spullen</h1>
    <div class="container-dashboard flex">
      <div *ngFor="let category of categories">
        <a routerLink="/home" (click)="catRefresh(category.id)">
          <div class="item flex-item">
            <div class="dashboard-card">
              <img
                class="dashboard-img-item d-flex flex-column"
                src="{{ category.image }}"
                alt=""
              />
              <div class="text-container">
                {{ category.name }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- CARDS -->

    <div class="container">
      <div class="row">
        <div *ngFor="let item of items" class="col-6">
          <div class="card">
            <div class="card-profile">
              <img
                src="https://picsum.photos/200"
                class="card-img-top"
                alt="..."
              />
              <div class="card-price">&euro;{{ item.price_per_day }}</div>
            </div>
            <div class="card-body">
              {{ item.title }}
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
