.container {
  background-color: white;
}

.inner-container {
  margin: 0 auto;
  width: 95%;
}

.vaak-gedeeld {
  font-weight: bold;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center; /* Center horizontally */
  flex-direction: column;
  padding-top: 2rem;
}

/* horizontal categories */

.container-dashboard {
  margin-top: 2rem;
  width: 100%;
  white-space: nowrap;
}

.item {
  font-size: 13px;
  padding: 0rem 0.9rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 5px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.flex::-webkit-scrollbar {
  width: 0.5em;
}

.flex::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.dashboard-img-item {
  width: 30px;
  padding-bottom: 0.2rem;
  margin: auto;
}

/* CARDS */
.card {
  width: 100%;
  margin-bottom: 1rem;
}

.card-profile {
  position: relative;
}

.card-price {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px 10px;
}
