<div class="footer">
  <div class="row row-footer">
    <div class="col">
      <a routerLink="/home">
        <i class="fa-solid fa-house footer-icons" (click)="home()"></i>
      </a>
    </div>
    <div class="col">
      <a routerLink="/">
        <i
          class="fa-solid fa-magnifying-glass footer-icons"
          (click)="open()"
        ></i>
      </a>
    </div>
    <div class="col">
      <a routerLink="/profile"
        ><i class="fa-regular fa-user footer-icons"></i
      ></a>
    </div>
  </div>
</div>
