.footer {
  width: 100%;
  height: 5%;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.footer-icons {
  font-size: 1.2rem;
}

.row-footer {
  margin-top: 10px;
}

.col {
  text-align: center;
}

.footer-icons {
  cursor: pointer;
}
