<div class="btn-container">
  <!-- Only show if logged in  -->
  <ng-container *ngIf="authenticationService.currentUser$ | async as User">
    <button type="button" id="mainBtn" class="btn" (click)="open()">
      <i class="fa-solid fa-magnifying-glass"></i> What are you looking for?
    </button>
  </ng-container>
  <div class="button-group">
    <i class="fa-solid fa-house logged-in-btns"></i>
    <i class="fa-regular fa-square-plus logged-in-btns"></i>
    <i class="fa-regular fa-message logged-in-btns"></i>
    <i class="fa-solid fa-gear logged-in-btns"></i>
    <i class="fa-regular fa-user logged-in-btns"></i>
  </div>
</div>
