<div class="container">
  <div class="inner-container">
    <div class="row">
      <div class="firstCol">
        <div class="firstColLeft">
          <i class="fa-solid fa-wallet profile-icons"></i>
          &euro; 0,00
          <i class="fa-solid fa-gift profile-icons"></i>
          0pt
        </div>
        <div class="firstColRight">
          <i class="fa-solid fa-circle-question profile-icons"></i>
          <!-- <i class="fa-solid fa-grip-lines profile-icons"></i> -->
          <i class="fa-solid fa-circle-chevron-down profile-icons"></i>
        </div>
      </div>
      <!-- <h1 *ngIf="user$ | async as user">Welcome {{ user.email }}</h1> -->
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
