.container {
  margin-top: 1rem;
}

.inner-container {
  margin: 0 auto;
  width: 90%;
}

.firstCol {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile-icons {
  font-size: 16px;
  align-self: center;
}

.profile-icons-right {
  font-size: 20px;
  cursor: pointer;
}

.firstColLeft {
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
}

.firstColRight {
  display: flex;
}

.fa-grip-lines {
  margin-left: 1rem;
}

.fa-gift {
  margin-left: 0.5rem;
}

.col-profile {
  float: right;
}

.upload-profile {
  font-size: 90px;
  color: lightgray;
}

.email-verified {
  background: lightgreen;
  padding: 2px 6px;
  border-radius: 10px;
  width: 75px;
}

/* Cards-B */

.cards-b-row {
  margin-top: 1rem;
}

.card-b {
  background-color: lightgray;
  text-align: center;
  height: 70px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
