.container {
  margin-top: 1rem;
}

.inner-container {
  margin: 0 auto;
  width: 90%;
}

.firstCol {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile-icons {
  font-size: 16px;
  align-self: center;
}

.profile-icons-right {
  font-size: 20px;
}

.firstColLeft {
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
}

.firstColRight {
  display: flex;
}

.fa-grip-lines {
  margin-left: 1rem;
}

.fa-gift {
  margin-left: 0.5rem;
}

.email-verified {
  background: lightgreen;
  width: auto;
}

.col-profile {
  float: right;
}

.upload-profile {
  font-size: 90px;
  color: lightgray;
}
