<div class="container">
  <div class="inner-container">
    <!-- First row -->
    <div class="row">
      <div class="firstCol">
        <div class="firstColLeft">
          <i class="fa-solid fa-wallet profile-icons"></i>
          &euro; 0,00
          <i class="fa-solid fa-gift profile-icons"></i>
          0pt
        </div>
        <div class="firstColRight">
          <i class="fa-solid fa-circle-question profile-icons-right"></i>
          <i
            (click)="openSettings()"
            class="fa-solid fa-grip-lines profile-icons-right"
          ></i>
        </div>
      </div>
    </div>
    <!-- Second row -->
    <div class="row">
      <div class="col">
        <h4>Name</h4>
        <div class="info-lid">Lid sinds 27 aug 2023</div>
        <div class="info-loc">Genk</div>
        <div class="email-verified">
          <i class="fa-solid fa-check mx-1"></i>
          <span class="email-text">Email</span>
        </div>
      </div>
      <div class="col">
        <i class="fa-solid fa-circle-user upload-profile float-end"></i>
      </div>
    </div>
    <div class="row cards-b-row">
      <div class="col">
        <div class="card-b">
          <div class="wrap-upper">
            <i class="fa-solid fa-cart-shopping"></i
            ><span class="mx-1"> 0X </span>
            <div class="card-b-text">Gevraagd</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-b">
          <div class="wrap-upper">
            <i class="fa-solid fa-thumbs-up"></i><span class="mx-1"> 0X </span>
            <div class="card-b-text">Gevraagd</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-b">
          <i class="fa-solid fa-cart-shopping"></i
          ><span class="mx-1"> Nieuw </span>
        </div>
      </div>
    </div>
  </div>
</div>
