.container {
  margin-top: 0.5rem;
}

.inner-container {
  margin: 0 auto;
  width: 90%;
}

.firstCol {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile-icons {
  font-size: 16px;
  align-self: center;
}

.firstColLeft {
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
}

.firstColRight {
  display: flex;
}

.fa-circle-chevron-down {
  margin-left: 2rem;
}

.fa-gift {
  margin-left: 0.5rem;
}
