<div class="container">
  <div class="inner-container">
    <!-- 1.zoek -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/borrow/ill_how-dem-1.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">1. Zoek</div>
              <div class="description-card">
                Zoek een product bij jou in de buurt
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2. check -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/borrow/ill_how-dem-2.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">2. Check</div>
              <div class="description-card">
                Verifieer je profiel om lid te worden van je lokale
                deel-community
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3. Boek
 -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/borrow/ill_how-dem-3.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">3. Boek</div>
              <div class="description-card">
                Stuur een verzoek aan je buur en boek
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 4. Benut
 -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/borrow/ill_how-dem-1.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">4. Benut</div>
              <div class="description-card">
                Benut het product en breng het terug op de afgesproken tijd
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
