<form [formGroup]="addItemForm" (ngSubmit)="onSubmit(addItemForm.value)">
  <div class="modal-header modal-header-profile">
    <div class="modal-title-profile">
      <h1>Nieuw product</h1>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- Add image -->
    <div class="add-image">
      <i class="fa-solid fa-camera"></i>
    </div>
    <!-- Name  -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Producttitel</label
      >
      <input
        formControlName="title"
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Beschrijving</label
      >
      <textarea
        placeholder="Hoe gedetailleerder je productomschrijving, hoe sneller en beter je je buren kunt helpen."
        formControlName="description"
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
      ></textarea>
    </div>

    <mat-button-toggle-group
      class="toggle-btn-wrapper mb-3"
      name="fontStyle"
      (change)="onFontStyleChange($event)"
      aria-label="Font Style"
    >
      <mat-button-toggle class="toggle-btn" value="leen"
        >Te leen</mat-button-toggle
      >
      <mat-button-toggle class="toggle-btn" value="huur"
        >Te huur</mat-button-toggle
      >
    </mat-button-toggle-group>
    <div *ngIf="selectedToggleBtn === 'huur'">
      <div class="mb-3 prices">
        <div class="price-left">
          <label for="exampleFormControlInput1" class="form-label">Prijs</label>
          <input
            formControlName="price_per_day"
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
          <label for="exampleFormControlInput1" class="form-label"
            >Eerste dag</label
          >
        </div>
        <div class="price-right">
          <input
            formControlName="price_per_extra_day"
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
          <label for="exampleFormControlInput1" class="form-label"
            >Extra dag</label
          >
        </div>
      </div>
    </div>

    <!-- Switch -->
    <div class="switch-wrapper mb-3">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          formControlName="visible"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Zichtbaar voor anderen</label
        >
      </div>
    </div>
    <div class="wrapper-category btn mb-3" (click)="open()">
      <div class="category-text-left">Categorie</div>
      <div class="category-text-right">Analoge fotocamera</div>
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </div>

    <button class="btn btn-submit" type="submit">Opslaan</button>
  </div>
  <!-- End -->
</form>
