<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="modal-header modal-header-profile">
    <div class="modal-title-profile">
      <h1>Inloggen</h1>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- Email adres -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@email.com"
      />
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Paswoord</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="paswoord"
      />
    </div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary btn-schrijf"
    >
      Login
    </button>
    <!-- Footer voorwaarden -->
  </div>
  <!-- Modal Footer -->
  <div class="modal-footer">
    <div class="modal-footer-profile">
      Heb je nog geen account?

      <a class="subscribe-link" (click)="goToSubscribe()"> Schrijf je in</a>
    </div>
  </div>
</form>
