<div class="container-dashboard flex">
  <div *ngFor="let category of categories">
    <a routerLink="/" (click)="getCategoryId(category.id)">
      <div
        [ngStyle]="{
          'background-color':
            selectedCategoryId === category.id ? '#feefe5' : ''
        }"
        class="item flex-item"
      >
        <div class="dashboard-card">
          <img
            class="dashboard-img-item d-flex flex-column"
            [src]="category.image"
            alt=""
          />
          <div class="text-container">
            {{ category.name }}
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
