<div class="footer">
  <div class="row row-footer">
    <div class="col">
      <i class="fa-solid fa-house footer-icons" (click)="home()"></i>
    </div>
    <div class="col">
      <a routerLink="/">
        <i
          class="fa-solid fa-magnifying-glass footer-icons"
          (click)="open()"
        ></i>
      </a>
    </div>
    <ng-container *ngIf="authenticationService.currentUser$ | async as User">
      <div class="col">
        <i
          (click)="addItem()"
          class="fa-regular fa-square-plus footer-icons"
        ></i>
      </div>
      <div class="col">
        <i class="fa-regular fa-message footer-icons" (click)="openchats()"></i>
      </div>
    </ng-container>
    <div class="col">
      <i class="fa-regular fa-user footer-icons" (click)="subscribe()"></i>
    </div>
  </div>
</div>
