<div class="container text-center">
  <div class="inner-container">
    <h1 class="vaak-gedeeld">Vaak gedeelde spullen</h1>

    <app-horizontal-cards></app-horizontal-cards>

    <div class="row gy-2">
      <div *ngFor="let item of items" class="col-6 col-md-4 col-xl-3">
        <div class="col">
          <div class="card">
            <div class="card-profile">
              <img
                src="https://picsum.photos/200"
                class="card-img-top"
                alt="..."
              />
              <div class="card-price">&euro;{{ item.price_per_day }}</div>
            </div>
            <div class="card-body">
              <div class="card-title">{{ item.title.slice(0, 10) }}</div>
              <!-- Card wrap user -->
              <div class="row card-wrap-user">
                <div class="col-2">
                  <img
                    class="card-picture card-item"
                    src="https://thumbs.dreamstime.com/z/default-avatar-profile-icon-vector-social-media-user-image-182145777.jpg?w=768"
                    alt=""
                  />
                </div>
                <div class="col">
                  <div class="card-user card-item">{{ item.user_id }}</div>
                  <div class="card-city card-item">{{ item.city }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="meer-voorbeelden">
          <a class="link-voorbeelden" href="#">Meer voorbeelden</a>
        </div>
      </div>
    </div>
  </div>
</div>
