.container {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.inner-container {
  margin: 0 auto;
  width: 95%;
  padding-bottom: 3rem;
}

.vaak-gedeeld {
  font-weight: bold;
}

/* horizontal categories */

.container-dashboard {
  margin-top: 2rem;
  width: 100%;
  white-space: nowrap;
}

.item {
  font-size: 13px;
  padding: 0.9rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 5px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.flex-item {
  flex: 0 0 auto;
}

.flex::-webkit-scrollbar {
  width: 0.5em;
}

.flex::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  /* height: 60px; */
}

.dashboard-img-item {
  max-width: 30px;
  max-height: 30px;

  padding-bottom: 0.2rem;
  margin: auto;
}

/* CARDS */
.card {
  text-align: left;
  /* height: 300px; */
}

.card-body {
  padding: 0.5rem;
}

.card-title {
  font-weight: bold;
}

.col {
  padding: 0rem 0.2rem;
}

.card-profile {
  position: relative;
}

.card-price {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px 10px;
}

.row > * {
  padding-right: 0px;
  padding-left: 0px;
}

.card-wrap-user {
  display: flex;
  padding: 0rem 0.5rem;
}

.card-picture {
  width: 40px;
}

.card-picture {
  padding-right: 0.5rem;
}

.meer-voorbeelden {
  margin: 2rem;
}

a {
  text-decoration: none;
  color: purple;
}
