<div class="container">
  <div class="inner-container">
    <!-- 1. Heb jij…?-->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/lend/ill_how-sup-1.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">1. Heb jij…?</div>
              <div class="description-card">
                Bied spullen aan of bekijk wat je buren zoeken
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2. Accepteer
 -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/lend/ill_how-sup-2.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">2. Accepteer</div>
              <div class="description-card">
                Ontvang verzoeken van buren; accepteer als het uitkomt
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3. Kost ’t?

 -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/lend/ill_how-sup-3.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">3. Kost ’t?</div>
              <div class="description-card">
                Kies zelf of je uitleent voor de poen of om een plezier te doen
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 4. Garantie

 -->
    <div class="card">
      <div class="row">
        <div class="col-6">
          <img
            src="assets/images/borrowcontainer/lend/ill_how-sup-4.png"
            alt=""
            class="img img-fluid"
          />
        </div>
        <div class="col-6">
          <div class="text-card-wrap">
            <div class="inner-text-card-wrap">
              <div class="title-card">4. Garantie</div>
              <div class="description-card">
                Ongelukjes zijn zeldzaam, maar gebeurt er toch iets? Dan is er
                de Peerby garantie
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
