<div class="modal-header modal-header-profile">
  <div class="modal-title-profile">
    <h1>Instellingen</h1>
  </div>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-solid fa-user-secret settings-icons"></i>
      <span class="settings-category-title">Lidmaatschap</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-solid fa-lock settings-icons"></i>
      <span class="settings-category-title">Wachtwoord</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-solid fa-wallet settings-icons"></i>
      <span class="settings-category-title">Mijn portemonee</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-regular fa-bell settings-icons"></i>
      <span class="settings-category-title">Berichten & Notificaties</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-regular fa-user settings-icons"></i>
      <span class="settings-category-title">Account instellingen</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-regular fa-circle-question settings-icons"></i>
      <span class="settings-category-title">Help</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
  <div (click)="open()" class="card-wrap">
    <div class="wrap-instelling-categories">
      <i class="fa-solid fa-earth-americas settings-icons"></i>
      <span class="settings-category-title">Taal</span>
    </div>
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" (click)="logout()">Logout</button>
</div>
