<div class="btn-container">
  <app-search></app-search>
  <!-- Only show if logged in  -->
  <ng-container *ngIf="authenticationService.currentUser$ | async as User">
    <div class="button-group">
      <i class="fa-solid fa-house logged-in-btns"></i>
      <i class="fa-regular fa-square-plus logged-in-btns"></i>
      <i class="fa-regular fa-message logged-in-btns"></i>
      <i class="fa-solid fa-gear logged-in-btns"></i>
      <i class="fa-regular fa-user logged-in-btns" routerLink="/profile"></i>
    </div>
  </ng-container>
</div>
