.container {
  background-color: white;
  margin-top: 1rem;
}

.inner-container {
  margin: 0 auto;
  width: 95%;
}

.vaak-gedeeld {
  /* text-align: center; */
}

.container-dashboard {
  margin-top: 2rem;
  width: 100%;
  white-space: nowrap;
}

.item {
  /* width: 120px; */
  font-size: 13px;
  padding: 0rem 0.9rem;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.flex::-webkit-scrollbar {
  width: 0.5em;
}

.flex::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.dashboard-img-item {
  width: 30px;
  padding-bottom: 0.2rem;
  margin: auto;
}

/* image card */

.img-card {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
}

.card-price {
  font-weight: bold;
  margin-top: 2rem;
}

.card-wrap-user {
  display: flex;
}

.card-picture {
  width: 40px;
}
