<div class="container">
  <div class="inner-container">
    <!-- input row -->
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control font-awesome"
            placeholder="&#xF002; Wat zoek je?"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <input
            type="text"
            class="form-control font-awesome"
            placeholder="&#xf041; Locatie"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary btn-search-modal"
            type="button"
            id="button-addon2"
          >
            Zoeken
          </button>
        </div>
      </div>
    </div>
    <!-- Alles row -->
    <h5>
      <a href="">Alles </a> /
      <a href="">{{ subcategories.name }} </a>
    </h5>
  </div>
</div>

<!-- Dashboard items subsubcategories -->
<div class="container container-dashboard flex">
  <div *ngFor="let subsubcategory of subcategories.subsubcategory">
    <div class="item flex-item">
      <div class="dashboard-card">
        <img
          class="dashboard-img-item"
          src="{{ subsubcategory.image }}"
          alt=""
        />

        {{ subsubcategory.name }}
      </div>
    </div>
  </div>
</div>
