<div class="modal-header modal-header-profile">
  <div class="modal-title-profile">
    <h1>Kies categorie test</h1>
  </div>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form #myForm="ngForm">
    <!-- Categories in modal  -->
    <div class="row">
      <div
        *ngFor="let category of categories.subsubcategory"
        class="col-lg-4 mb-3"
      >
        <div class="modal-category">
          <div class="card-simp-categories">
            <div class="row g-0">
              <div class="col-10 d-flex align-items-center">
                <div class="card-body">
                  <h3 class="card-custom-title">
                    {{ category.name }}
                  </h3>
                </div>
              </div>
              <div
                class="col-2 d-flex align-items-center justify-content-center"
              >
                <mat-radio-button
                  (change)="onRadioClick(category.id)"
                  class="custom-radio-button"
                  value="{{ category.id }}"
                ></mat-radio-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
