.card-simp-categories {
  border-bottom: 0.1px solid lightgray;
}

::ng-deep .mat-radio-button .mat-radio-outer-circle {
  border-color: #007bff; /* Change to your preferred color */
}

::ng-deep .mat-radio-button .mat-radio-inner-circle {
  background-color: #007bff; /* Change to your preferred color */
}
