/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #feefe5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Modal looking for */

.modal {
  height: 95vh;
  --bs-modal-width: 80%;
}

/* STACKED MODAL */

.btn-card {
  text-decoration: none;
}

.card-custom-title {
  font-size: 12px;
  margin-top: 10px;
}

.fa-arrow-right {
  font-size: 3rem;
}

/* Arrow google font io */
.material-symbols-outlined {
  font-size: 1.5rem;
}

.col-arrow-right {
  text-align: right;
}

.font-awesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}

.btn-search-modal {
  background-color: #00916e;
  color: white;
}

.img-wrap-modal {
  padding: 10px;
}

.img-modal {
  width: 50px;
}

.modal-category:hover {
  cursor: pointer;
}

.modal-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}
