/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #feefe5;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Modal looking for */

.modal {
  height: 95vh;
  --bs-modal-width: 80%;
}

/* STACKED MODAL */

.btn-card {
  text-decoration: none;
}

.card-custom-title {
  font-size: 12px;
  margin-top: 10px;
}

.fa-arrow-right {
  font-size: 3rem;
}

/* Arrow google font io */
.material-symbols-outlined {
  font-size: 1.5rem;
}

.col-arrow-right {
  text-align: right;
}

.font-awesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}

.btn-search-modal {
  background-color: #00916e;
  color: white;
}

.img-wrap-modal {
  padding: 10px;
}

.img-modal {
  width: 50px;
}

.modal-category:hover {
  cursor: pointer;
}

.modal-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

/* Profile component */

.modal-header-profile {
  display: flex;
  justify-content: center;
  height: 80px;
}

.modal-title-profile {
  color: black;
  font-weight: 900 !important;
  padding-top: 1rem;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.profile-checkbox {
  color: gray;
  padding: 0.4rem 0 0.4rem 0;
}

.wrap-form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  margin-bottom: 0.6rem;
  border-radius: 5px;
}

.btn-schrijf {
  width: 100%;
}

.footer-voorwaarden {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0.7rem 0rem 0rem 0rem;
  color: black;
}

.modal-footer {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: gray;
}
