.btn-container {
  background-color: #feefe5;
  padding: 0.7rem 0;
}

#mainBtn {
  display: block;
  margin: 0rem auto;
  text-align: center;
  color: grey;
  background-color: white;
  border-radius: 50px;
  padding: 0.5rem 3rem;
}

.btn-card {
  text-decoration: none;
}

.modal-header {
  background-color: red;
}
