<div class="container container-voorwaarden">
  <div class="inner-container-voorwaarden">
    <div class="row">
      <h1>Peerby voorwaarden</h1>
      <p>Versie 1.0 | juni 2021</p>
      <h2 class="subtitle-voorwaarden">Algemeen</h2>
      <div class="body-voorwaarden">
        Voor het gebruik van ons Peerby platform (hierna: “Peerby”) gelden
        onderstaande voorwaarden. Deze voorwaarden regelen de verhouding tussen
        jou en de aanbieder van Peerby. Jij maakt gebruik van Peerby. Wij
        leveren aan jou een bemiddelingsdienst, namelijk het bij elkaar brengen
        van buren, ten behoeve van het tot stand brengen van een overeenkomst.
        Peerby is bedoeld om spullen (duurzame consumptiegoederen; oftewel
        spullen die vaker dan één keer meegaan) van en aan elkaar te lenen, al
        dan niet tegen een vergoeding. Voor de duidelijkheid hanteren we hierbij
        een paar spelregels.
        <br /><br />
        Als je een interessante advertentie hebt gezien, kun je via de knop
        “overleg” een bericht sturen naar de aanbieder. Je onderhandelt
        vervolgens voor eigen rekening en risico met de aanbieder. Hoe en of je
        tot een overeenkomst komt, is aan jullie: wij zijn daar geen partij bij.
        Je dient zelf afspraken te maken over de duur, prijs en overige
        voorwaarden.
      </div>
      <h2 class="subtitle-voorwaarden">Totstandkoming van de overeenkomst</h2>
      <div class="body-voorwaarden">
        Peerby is door jou te gebruiken via de website peerby.com of door de app
        te downloaden via Apple’s App Store en Google’s Play Store. Om gebruik
        te kunnen maken van de app, dien je je eerst te registreren via de app
        of de website. Op het moment dat jij je registreert komt de overeenkomst
        tussen ons tot stand. Bij Peerby gaan we ervan uit dat de meeste mensen
        goede bedoelingen hebben. Om Peerby veilig te houden voor iedereen,
        kunnen we in bepaalde gevallen een ID-check uitvoeren (denk aan duurdere
        producten of die in een hogere risico categorie vallen) of om een borg
        vragen. We behouden het recht om mensen zonder opgaaf van reden te
        weigeren van Peerby (denk aan vermoeden van fraude, oplichting of
        misbruik).
      </div>
      <h2 class="subtitle-voorwaarden">Gebruik van Peerby</h2>
      <div class="body-voorwaarden">
        Via Peerby kan je spullen lenen en huren van en/of aan je buren. Om
        gebruik te kunnen maken van de Peerby, dien je je eerst te registreren
        en een account aan te maken. Tijdens de registratieprocedure ontvang je
        van ons een link om in te loggen of gebruik je een e-mailadres en
        wachtwoord waarmee na registratie kan worden ingelogd in Peerby. Je bent
        zelf verantwoordelijk voor je account en het kiezen van een voldoende
        betrouwbaar wachtwoord. Deze (login)gegevens dien je geheim te houden.
        Wij zijn niet aansprakelijk voor misbruik van je inloggegevens en we
        gaan ervan uit dat jij degene bent die zich daadwerkelijk aanmeldt bij
        Peerby. In geval van een vermoeden van misbruik van je account, laat het
        ons dan zo snel mogelijk weten en wijzig je (login)gegevens. Wij doen
        ons best om de informatie op Peerby zo volledig en nauwkeurig mogelijk
        te laten zijn. Indien je een probleem, onjuiste of incomplete informatie
        tegenkomt, zouden we het fijn vinden als je ons dit laat weten. Wij zijn
        niet verantwoordelijk voor schade die is ontstaan door het gebruik,
        onvolledigheid of onjuistheid van de informatie op Peerby. Wij zijn
        rechthebbende op Peerby en geven geeft jou een gebruiksrecht om Peerby
        te gebruiken. Je mag Peerby gebruiken op de wijze waarvoor deze is
        bedoeld voor de duur van de overeenkomst. Alle rechten op Peerby, de
        bijbehorende documentatie en alle wijzigingen en uitbreidingen hierop
        liggen en blijven bij ons. Niets in deze overeenkomst is bedoeld om
        rechten van intellectueel eigendom over te dragen, waaronder in ieder
        geval begrepen auteursrechten, databankrechten, rechten op domeinnamen,
        handelsnaamrechten, rechten op knowhow, merkenrechten, modelrechten,
        naburige rechten en octrooirechten.
      </div>
    </div>
  </div>
</div>
