.container-dashboard {
  margin: 5px;
  width: 100%;
  white-space: nowrap;
}

.item {
  /* border: 2px solid #b85b14; */
  /* background-color: #fc7307; */
  width: 120px;
}

/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.flex::-webkit-scrollbar {
  width: 0.5em;
}

.flex::-webkit-scrollbar-thumb {
  background-color: transparent;
}
