<div class="home-container">
  <div class="intro-page">
    <h1 class="logo">Hood Rentals</h1>
    <h1 class="h1 goed-delen">Goed om te delen</h1>
    <h3 class="leen-en-huur h3">Leen en huur spullen van je buren</h3>
    <button type="btn" id="btn-buurt" class="btn doe-mee-btn">
      Doe mee in jouw buurt
    </button>
  </div>
  <!-- Notification -->

  <app-beschikbaar></app-beschikbaar>
  <app-all-products></app-all-products>
  <app-borrow-lend-container></app-borrow-lend-container>
  <!-- <app-parent>
    <app-child></app-child>
  </app-parent> -->
</div>
